body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* navbar section */
.navbar-section {
    background: #fff;
    
    padding: 10px 0px;
    /* position: fixed; */
    height: 10vh;
    /* width: 100%; */
    z-index: 1;
    box-shadow: 0 0 10px;

  }
  .navbar {
    color: brown;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .search-area{
      width: 100%;
  }
  
  .humberg {
    display: none;
  }
  
  .navlinks{
      display: flex;
  }

  .logo-sect{
      width: 20%;
  }

  .navbar-Links{
      width: 80%;
  }
  
  .navlinks a {
    color: brown;
    text-decoration: none;
    font-weight: 600;
    padding: 0 10px;
  }
  
  .navlinks a:hover {
    color: tomato;
  }

.input-group{
    display: flex;
}

input{
    width: 80%;
    padding: 5px;
    outline: none;
    border: 1px solid black;
    background: white;
}

.fa-search, .fa-camera{
    border: 1px solid black;
    padding: 8px;
    margin: -5px;
}

/* main-section */

.main-section{
    padding-top: 10px;
    background-color: blue;
    height: 90vh;
    clip-path: polygon(50% 0%, 70% 100%, 60% 50%, 35% 100%, 25% 100%, 0% 100%, 0% 0%);
    align-items: center;
}

.row{
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 700;
}

video{
    width: 50%;
    position: absolute;
    top: 70px;
    right: 0px;
    height: 85vh;
}

@media screen and (max-width:480px){
    video{
        width: 100%;
        position: relative;
    }
    .humberg {
        display: block;
        float: right;
      }
      .navbar {
        display: flex;
        justify-content: space-between;
        position: relative;
      }

      .navbar-section{
          padding: 0;
      }
      .navlinks {
        display: none;
        background-color: cadetblue;
        position: absolute;
        padding: 15px 0;
        z-index: 1;
        left: 0;
        top: 45px;
        width: 100%;
        flex-direction: column;
      }
} 